.button-container {
	flex: 1 1 auto;
	text-align: center;
	margin: 0px 20px;
}

.button-container:hover {
	cursor: pointer;
}

.button-value {
	padding: 7px 15px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 0 5px grey;
	background-color: #efefef;
	border: 1px solid #efefef;
	border-radius: 5px;
}
