.timer-container {
	background-color: var(--timer-background-color);
	border: var(--timer-border);
	height: var(--timer-height);
	width: var(--timer-width);
}

.time-display {
	height: 100px;
	width: 600px;
	border: 2px solid red;
}

.timer-button-container {
	display: flex;
	flex-direction: row;
}
